*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

p{
    color: blue;
    font-size: medium;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}